@mixin hxf-item-container ($size) {
    .hxf-item-container {
        background-color: #bfbfbf;
        border-radius: 5px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        height: $size;
        border: 1px solid #aeaeae;
        padding: 5px;
        overflow: hidden;
        margin-bottom: 30px;
    }
}

.list {

    .list-view {

        .list-item {
            @include hxf-item-container(100px);
        }

    }

    .thumbnail-view {

        .thumbnail-item {
            @include hxf-item-container(300px);
        }
    }


    .no-matches {
        background-color: #bfd7ff;
        color: #6b6c67;
        font-size: 50px;
        text-align: center;
    }
}