.list {


    .list-view {

        .list-item {
            @include hxf-item-container(100px);
        }

    }

    .thumbnail-view {

        .thumbnail-item {
            @include hxf-item-container(620px);
        }
    }


    .no-matches {
        background-color: #bfd7ff;
        color: #6b6c67;
        font-size: 50px;
        text-align: center;
    }


    @include quoteTooltip;
}