.menubar {
    color: #49fc08;

    .navbar-brand {
        outline: 0;
        img {
            display: inline-block;
            margin-right: 5px;
        }
        .logo {
            top: 3px;
            padding-right: 9px;
        }
        .app-name {

        }
    }

    .navbar {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.39), 0px -1px 0px rgba(0, 0, 0, 0.23);
        //box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), 0px -1px 0px rgba(0, 0, 0, 0.1) inset;
    }
}