<menu-bar></menu-bar>

<status-bar></status-bar>

<div class="container">

    <div class="admin">


                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-hxf-heading">
                                <span class="glyphicon glyphicon-lock"></span> Login
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" ng-submit="login()">
                                    <div class="form-group">
                                        <label for="userfield" class="col-sm-3 control-label">
                                            User
                                        </label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="userfield" placeholder="Username" ng-focus="onFocus($event)" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="passfield" class="col-sm-3 control-label">
                                            Password
                                        </label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" id="passfield" placeholder="Password" ng-focus="onFocus($event)" required>
                                        </div>
                                    </div>
                                    <div class="form-group last">
                                        <div class="col-sm-offset-3 col-sm-5">
                                            <button type="submit" class="btn btn-success btn-sm">
                                                Sign in
                                            </button>
                                            <button type="reset" class="btn btn-default btn-sm">
                                                Reset
                                            </button>
                                        </div>
                                        <div class="col-sm-4 wrong-hxf" ng-show="loginerror">
                                            Wrong Login/Password
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <div class="panel-footer panel-hxf-footer">
                                <div class="text-center"><span class="glyphicon glyphicon-info-sign"></span><a href="https://github.com/aestheticsdata/bkmk" target="_blank">bkmk</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center title-hxf">Bookmark admin</span></div>
                    </div>
                </div>



    </div>
</div>