<div ng-show="thumbView" class="thumbnail-view">
    <div ng-repeat="post in $parent.filteredData = (data | filter:selectByTag) | filter:isSelectedCategory | orderBy:'date':statusbar.getSortingOrder()" class="col-md-4 thumbnail-item">
        <div class="hxf-item-container">
            <div class="">
                Title : {{post.title}}
            </div>

            <hr/>

            <div class="quote">


                <div ng-if="post.quotation" class="wrapper">
                    quote : {{post.quotation | limitTo:80}}...
                    <div class="tooltip">{{post.quotation}}</div>
                </div>
                <div ng-if="!post.quotation">
                    quote : no quote
                </div>

            </div>

            <hr/>

            <a ng-href="{{post.url}}" target="_blank">
                <div class="hxf-img-container">
                    <img ng-src="{{post.thumbnail}}" alt="" class="centered"/>
                </div>
            </a>

            <hr/>

            <div ng-show="post.type === 'website'">type : <span class="glyphicon glyphicon-globe" aria-hidden="true"></span></div>
            <div ng-show="post.type === 'video'">type : <span class="glyphicon glyphicon-film" aria-hidden="true"></span></div>

            <hr/>

            <div class="tags">tags : <span ng-repeat="tag in post.tags">#{{tag}} </span></div>
        </div>
    </div>
</div>