<div class="statusbar">

    <div class="container">

        <div class="row">

            <div class="col-sm-6">

                <span class="col-sm-6 status">
                    <span class="glyphicon glyphicon-home" ng-show="statusbar.status == 'Home'"></span>
                    <span class="glyphicon glyphicon-edit" ng-show="statusbar.status == 'Admin'"></span>
                    <span class="glyphicon glyphicon-info-sign" ng-show="statusbar.status == 'About'"></span>
                    <span class="glyphicon glyphicon-list" ng-show="statusbar.status.indexOf('List') != -1"></span>
                    / {{statusbar.status | uppercase}}
                </span>

                <div class="input-group col-sm-6 search-box" ng-show="statusbar.searchbox">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" class="form-control" placeholder="filter by tag" aria-describedby="basic-addon1" ng-model="statusbar.tag">
                </div>

            </div>

            <div class="btn-group col-sm-4 view-type" ng-show="statusbar.viewButtons">
                <label class="btn btn-success" ng-model="statusbar.viewType" btn-radio="'List'" ng-click="statusbar.stateChange('List')"><span class="glyphicon glyphicon-th-list"></span> List view</label>
                <label class="btn btn-success" ng-model="statusbar.viewType" btn-radio="'Thumbnail'" ng-click="statusbar.stateChange('Thumbnail')"><span class="glyphicon glyphicon-th"></span> Thumbnail view</label>
            </div>

            <div class="col-sm-2 date-order" ng-show="statusbar.dateOrderingButton && statusbar.viewType == 'Thumbnail'">
                <button type="button" class="btn btn-default" ng-click="statusbar.reverseDateOrder()">
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span> Date : <span>{{statusbar.getOrderName()}}</span>
                </button>
            </div>

        </div>

    </div>

</div>